PORT=8000
HOST=0.0.0.0
DEBUG=True

DATABASE_URL=sqlite:///./simora.db

SECRET_KEY=super_secret_key_change_in_production_123
ALGORITHM=HS256

GEMINI_API_KEY=
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=
COGNEE_API_KEY=
